<meta charset="utf-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge" >

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

<meta name="copyright" content="Ian Castleden, Plant Energy Biology" >
<meta name="author" content="Ian Castleden" >
{#<!-- General Search Engines -->#}
<meta name="description" content="{{config.APP_SUMMARY}}" >
<link rel="canonical" href="{{config.URL}}" >

{#<!-- Twitter Cards -->#}
<meta name="twitter:card" content="summary" >
<meta name="twitter:description" content="{{config.APP_SUMMARY}}" >

{#<!-- Open Graph (Facebook) -->#}
<meta property="og:locale" content="en_US" >
<meta property="og:title" content="Flask" >
<meta property="og:description" content="{{config.APP_SUMMARY}}" >
<meta property="og:url" content="{{config.URL}}" >
<meta property="og:site_name" content="Flask" >
